#fondo {
  background-color: rgb(3, 43, 73);
}

.App {
  text-align: center;
}

.link {
  margin-left: 60px;
  color: white;
  text-decoration: none;
}

.cont {
  position: relative;
  top: 1%;
  left: 33%;
  width: 400px;
  height: fit-content;
  background-color: #99DBF5;
}

.cont_ID {
  width: 210px;
  background-color: #99DBF5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20%;
  left: 37%;
}

.cont_padre {
  position: relative;
  top: 2%;
}

.cont_btn_borrar {
  width: 400px;
  position: relative;
  top: 5%;
  left: 40%;
}

.lb_borrar {
  position: relative;
  top: 40%;
  width: 210px;
  height: 60px;
  background-color: #99DBF5;
}

.btn_borrar {
  position: relative;
  top: 40%;
  left: 1%;
  width: 200px;
  height: 100px;
}

.container_padre {
  height: 950px;
  background-color: #9AC5F4;
}

.cont_todos_users {
  width: 400px;
  position: relative;
  top: 5%;
  left: 40%;
}

.cont_todos_users {
  position: relative;
  left: 10%;
  width: 100%;
}

.cont_users {
  width: 100%;
}

#cont_users {
  position: absolute;

}

.cont_inicio {
  position: relative;
  top: 1%;
  left: 30%;
}